// Style para pagina de productos

#productsTitle{
  margin-top: 50px;
}

#products{
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
  img{
    height: 200px;
  }
}

#previousImage{
  transform: rotate(90deg);
}

#nextImage{
  transform: rotate(270deg);
}

.carousel-item{
  a{
    img{
      height: 200px;
    }
  }
}

#carouselExampleControls{
  text-align: center;
}