//Colores

$background-color: #f2f2f2;
$titles-text-color: #191919;
$paragraph-text-color: #757575;
$nav-background: #ededed;
$text-highlight: #fa4d60;
$text-hover-color: #e13238;
$titles-shadowcolor: #883b3b;